.back-top{
    position: absolute;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    background-color: rgb(240, 248, 255);
    margin-top: 20px;
    height: 400px;
    width: 100%;
}

.back-down{
    position: absolute;
    background-color: rgb(255, 228, 228);
    top: 78%;
    width: 100%;
    height: 150px;
}

.heading{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 800px;
    margin-top: -200px;
    text-align: center;
}

.info-text{
    font-family: 'Noto Sans',sans-serif;
    text-align: center;
    font-size: smaller;
}

.wrap-div{
    position: relative;
    height: 600px;
    /* background-color: rgb(130, 119, 119); */
}

.conversion-box{
    position: absolute;
    left: 20%;
    top: 37%;
    width: 60%;
    height: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    z-index: 5;
}

.conversion-box-heading{
    font-size: large;
    text-align: center;
    margin-top: 20px;
}

.exchange-box{
    display: flex;
    flex-direction: column;
}

.exchange-box-1{
    position: relative;
    /* border: 1px solid black; */
    width: 80%;
    height: 150px;
    left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
}

.exchange-box-2{                     
    display: flex;
    /* background: blue; */
    justify-content: space-between;
    padding: 0 10%;

}

#exchange-rate-text{
    font-size: smaller;
}

.exchange-logo{
    width: 40px;
    height: 40px;
}

.convert-button{
    background-color: #ff2020; /* Red color */
    color: #FFFFFF; /* Text color */
    padding: 0; /* Adjust padding as needed */
    border: none;
    border-radius: 10px; /* Adjust border radius for curved edges */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Accurate shadow */
    transition: background-color 0.1s, transform 0.1s;
    height: 2rem;
    width: 12rem;
    margin-top: -20px;
    margin-right: 1.0rem;
}

.convert-button:hover{
    background-color: #CC0000;
    cursor: pointer;
}

.convert-button:active{
    transform: scale(1.08);
}

.col1{
    width: 45%;
    border: 1px solid black;
    height: 70%;
    display: flex;
    flex-direction: column;
    padding: 0px 7px;
}

#amount-text{
    font-size: 15px;
}

.amount-input{
    width: 60%;
    margin-right: 20px;
}

#currencySelect1, #currencySelect2{
    width: 95px;
}

.amount-input, .currency-select select{
    height: 40px;
}

.input-container{
    display: flex;
    align-items: center;
}

.col2{
    width: 10%;
    /* border: 1px solid black; */
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col3{
    width: 45%;
    border: 1px solid black;
    height: 70%;
    display: flex;
    flex-direction: column;
    padding: 0px 7px;
}


